* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    position: relative;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 16px;
  }
  .first-row {
    width: 100vw;
    display: flex;
    /* gap: 50vw; */
    justify-content: space-between;
    background-color: #f8f8f8;
    align-items: center;
    padding-inline: 3vw;
  }
  .first-row a {
    text-decoration: none;
  }
  .nav-logo-text {
    display: flex;
    flex-direction: column;
  }
  #nav-text1 {
    font-family: "Rowdies", sans-serif;
    font-size: 2vw;
    color: black;
  }
  #nav-text2 {
    font-family: "Paytone One", sans-serif;
    font-size: 1.3vw;
    color: #7439f1;
  }
  .nav-search {
    display: flex;
    background-color: #7439f1;
    justify-content: center;
    border: 2px solid #7439f1;
  }
  .nav-search input {
    border: none;
    width: 40vw;
    height: 100;
    outline: none;
    padding-left: 8px;
  }
  .nav-search button {
    border: none;
    cursor: pointer;
    background-color: #7439f1;
    color: white;
  }
  .nav-search button i {
    border: none;
    padding: 1vw;
  }
  
  .user-login a {
    text-decoration: none;
    color: black;
  }
  .second-row {
    display: flex;
    gap: 5vw;
    justify-content: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .second-row a {
    font-family: "outfit", sans-serif;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 10px;
  }
  .join-now {
    margin: 0.3%;
    background-color: #7439f1;
    padding-inline: 1vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
  }
  .second-row a:hover {
    background-color: #7439f1;
  }
  .join-now {
    position: relative;
    overflow: hidden;
    background-color: #7439f1;
    padding-inline: 1vw;
    border-radius: 4px;
    color: white;
  }
  
  .join-now::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
    opacity: 0;
    transition: width 0.1s ease-out, height 0.1s ease-out, opacity 0.1s ease-out;
  }
  
  .join-now:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .banner {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 80vh;
  }
  .banner img {
    width: 100%;
  }
  .img1,
  .img2 {
    position: absolute;
  }
  
  .img1 button {
    position: relative;
    padding: 10px 18px;
    color: #f8f8f8;
    background-color: #7439f1;
    border-radius: 5px;
    bottom: 150px;
    border: none;
    left: 150px;
  }
  .img1 button a {
    text-decoration: none;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: large;
  }
  .img1 button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2;
    opacity: 0;
    transition: width 0.1s, height 0.1s, opacity 0.1s;
  }
  
  .img1 button:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .lrbutton button {
    position: absolute;
    top: 50%; /* Adjust as needed to position the buttons vertically */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
  
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  #leftBtn {
    padding: 10px;
    left: 0; /* Adjust left positioning */
  }
  
  #rightBtn {
    padding: 10px;
    right: 0; /* Adjust right positioning */
  }
  #hfeat {
    text-align: center;
    font-family: "Outfit", sans-serif;
  }
  #hrfeat {
    border: 2px solid #7439f1;
    margin-inline: 2vw;
    opacity: 1;
  }
  .features {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    /* gap: 1vw; */
    align-items: center;
    padding-inline: 2vw;
    background-color: #f8f8f8;
  }
  .feat1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 60%;
    background-color: white;
    /* box-shadow: 5px 5px #888888 ; */
    box-shadow: 5px 5px 10px #888888;
  }
  .feat1 img {
    /* position: relative; */
    /* top: 10%; */
    /* left: 26%; */
    width: 5vw;
  }
  .feat1 h3 {
    font-size: large;
    font-family: "outfit", sans-serif;
  }
  .feat1:hover {
    box-shadow: 5px 5px 10px #7439f1;
  }
  .peopleinfo:hover {
    box-shadow: 0 0 0px 5px #7439f1;
    /* box-shadow: 5px 5px 10px #7439f1; */
    cursor: pointer;
  }
  /* last commit */
  .topfeatured{
    background-color: #F8F8F8;
    display: flex;
  
    flex-direction: column;
  }
  .topfeatured hr{
  margin-top: 0;
    border: 2px solid #7439f1;
    opacity: 1;
  }
  .topfeatured h3{
    background-color: #7439f1;
    color: white;
    width:fit-content;
    padding: 0.5% 1%;
    margin-bottom: 0;
  }
  .topfeatured h3,hr{
    margin-inline: 2vw;
  }
  .featuredstars{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F8F8F8;
  }
  
  .peopleinfo{
    width: 18%;
    min-width: 250px;
    min-height: 500px;
    max-height: 500px;
    padding: 10px 12px;
    position: relative;
    /* border: 2px solid; */
    box-shadow: 0 0 0px 5px #8888888f;
  
    background-color: white;
    border-radius: 8px;
  }
  .peopleinfo .starrating{
    position: absolute;
  bottom: 40%;
    left: 20px;
    z-index: 1;
  }
  .featuredstars .peopleinfo img{
    border-radius: 8px;
    width: 100%;
    min-height:290px;
    max-height: 290px;
    object-fit:cover;
  }
  .pepdesc .name {
    font-family: "outfit",sans-serif;
    
  }

  /* Login Page*/
  .container { /* division of login part (whole canvas)*/
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(75, 75, 255, 0.8),rgba(0,0,50,0.8)), url(login.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
  }
  .form{ /* Form part division */
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
  }
  .form h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #7439f1;
    position: relative;
  }
  .form h1::after{/* in case js is used*/
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #7439f1;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
  }
  .fields{/*Input fields*/
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }
  input{ /* Input content Such as email*/
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px;
  } 
  .fields i{/* icons used in the input fields*/
    margin-left: 15px;
    color: #999;
  }
.container .Rem-fog{ /* seperate division for remember me and forgot password*/
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -5px 0 15px;
   
  }
  .Rem-fog label input{/* for input checkbox*/
    accent-color: #fff;
    margin-right: 3px;
    width: auto;
    
  }
  .Rem-fog a{ /* for link*/
    text-decoration: none;
  }
  
  .btn-field{  /* alignment for the main login/ signup button*/
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-field button{ /* Styling the button*/
    flex-basis: 48%;
    background: #7439f1;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
  }
  .inputs{ /*area that comes under input*/
    height: 230px;
  }
  .last{ /* last text for signup*/
    font-size: 13px;
    margin-top: 3%;
  }
  .last a{ /*decoration of link*/
    text-decoration: none;
  }

/* Signup page*/
.containers { /* division of login part (whole canvas)*/
    width: 100%;
    height: 150%;
    background-image: linear-gradient(rgba(75, 75, 255, 0.8),rgba(0,0,50,0.8)), url(login.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
  }
  .formm{ /* Form part division */
    width: 90%;
    max-width: 450px;
    height: 90%;
    max-height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
  }
  .formm h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #7439f1;
    position: relative;
  }
  .formm h1::after{/* in case js is used*/
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #7439f1;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
  }
  .btn-fields{  /* alignment for the main login/ signup button*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130%;
  }
  .btn-fields button{ /* Styling the button*/
    flex-basis: 48%;
    background: #7439f1;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    
  }
  u{
    color: #888888;
  }
/* joinus page*/
*{
  padding: 0;
  margin: 0;
}
.containerss { /* division of login part (whole canvas)*/
  width: 100%;
  height: 300%;
  background-image: linear-gradient(rgba(75, 75, 255, 0.7),rgba(0,0,50,0.7)), url(joinus.jpg);
  background-position: center;
  background-size:cover;
  position: relative;
}
.formmm{
  width: 90%;
  max-width: 600px;
  height: 95%;
  max-height: 2100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px 60px 70px;
  border-radius: 5px;
  
}
.formmm h1{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
  color: #7439f1;
  
}
.formmm h2{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  color:#7439f1;
  font-weight: 200px;
  font-style: italic;
}
.formmm h3{
  color: #7439f1;
  padding: 20px ;
  text-align: center;
}
.formmm p{
  font-size: 20px;
  margin: 15px 0;
  color: #7439f1;

}
.formmm .ip{
  font-size: 16px;
  padding: 15px 10px ;
  width: 100%;
  border: 2px solid #7439f1;
  border-radius: 3px;
  outline:none;
 
}

 .gender label input{/* for input checkbox*/
 color: #7439f1;
  margin-right: 3px;
  width: auto;
 }
.formmm button{
  flex-basis: 48%;
  padding: 10px 40px;
    background: #7439f1;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.area{
  border: 3px solid #7439f1;
  padding: 20px;
}